@import url("https://use.typekit.net/huq2wod.css");

html {
    font-family: 'Soleil';
    color: #ffffff;
}

a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-decoration: none;
}
  
button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}
